@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap);
$family-primary:'Open Sans', sans-serif;
$weight-normal:300;

// Color
$btn-color:hsl(32, 42%, 59%);
$bg-light-grey:#f1f1f1;
$text-color:#000;
$btn-text-color:#fff;